@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,p,input,select,textarea,td{
	margin:0;
	padding:0;
}
html{
	font-size: 26.67vw;
}
html,body{
	height: 100%;
}
body{
	font-family:"微软雅黑";
	display: -webkit-flex;
	-webkit-flex-direction:column;
}
a{
	text-decoration:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul,ol{
	list-style:none;
}
img{
	border:0;
	display: block;
}
/*header*/
.dt-header{
	width:100%;
	height:.48rem;
	border-bottom: 1px #f5f7fa solid;
	position:fixed;
  background:#fff;
}
.dt-header-top{
	height:.48rem;
	display:-webkit-flex;
	-webkit-align-items:center;
	-webkit-justify-content:space-between;
}
.dt-header-1 h1{
	font-size: .2rem;
	color:#12161a;
	width:100%;
	opacity: 0;
	text-align: center;
}

.dt-header-top a{
	display:-webkit-flex;
}
.dt-header-top a img:nth-child(1){
	width:.25rem;
	height:.25rem;
	margin-right: .08rem;
	margin-left: 0;
}
.dt-header-top a img:nth-child(2){
	width:.25rem;
	height:.25rem;
	margin-left: 0;
	margin-right: .24rem;
}
/*section*/
.dt-section{
	margin-top: .5rem;
	margin-bottom: .58rem;
}
.dt-sec-one{
	display: -webkit-flex;
	margin-left: .24rem;
}
.dt-sec-one span{
	display: block;
}
.dt-sec-one img{
	width:.96rem;
	height:1.28rem;
}
.dt-sec-1{
	margin-left: .13rem;

}
.dt-sec-1 span{
	font-size: 16px;
	color:#12161a;
}
.dt-sec-2{
	display: -webkit-flex;
	margin-top: .13rem;
	margin-bottom: .09rem;
}
.dt-sec-2 img{
	width:.41rem;
	height:.13rem;
}
.dt-sec-2 span{
	font-size: 12px;
	color:#626a73;
}
.dt-sec-3{
	font-size: 12px;
	color:#3399ff;
}
.dt-sec-one .dt-sec-4{
	font-size: 12px;
	color:#626a73;
	margin-top: .1rem;
	margin-bottom: .08rem;
}
.dt-sec-5{
	display: -webkit-flex;
}
.dt-sec-5 a{
	font-size: 12px;
	color:#ff8a16;
}
.dt-sec-5 img{
	width:.08rem;
	height:.13rem;
}
.dt-sec-two{
	height:.73rem;
	display: -webkit-flex;
	-webkit-justify-content:space-around;
	-webkit-align-items:center;
	border-bottom: 1px solid #f5f7fa;
}
.dt-sec-two a{
	text-align: center;
}
.dt-sec-two a h1{
	font-size:14px;
	color:#12161a;
	margin-bottom: .07rem;
}
.dt-sec-two a span{
	font-size:10px;
	display: block;
	color:#a1aab3;
}
.dt-sec-three{
	height:.88rem;
	display: -webkit-flex;
	-webkit-align-items:center;
	border-bottom: 1px solid #f5f7fa;
}
.dt-sec-three p{
	font-size:14px;
	color:#626a73;
	line-height: .22rem;
	overflow: hidden;
  	text-overflow:ellipsis;
  	display: -webkit-box;
  	-webkit-line-clamp: 3;
  	-webkit-box-orient: vertical;
  	margin:0 .24rem;
}
.dt-sec-four{
	height:.49rem;
	display:-webkit-flex;
	-webkit-justify-content:space-between;
	-webkit-align-items:center;
	border-bottom: .08rem solid #f5f7fa;
}
.a{
	border:0;
}
.dt-sec-four-1{
	display:-webkit-flex;
	margin-left: .24rem;
}
.dt-sec-four .dt-sec-four-1 img{
	width:.22rem;
	height:.22rem;
	margin-right: 0;
}
.dt-sec-four img{
	width:.07rem;
	height:.1rem;
	margin-right: .24rem;
}
.dt-sec-four span{
	font-size:12px;
	color:#afb7be;
	margin-left: .5rem;
}
.dt-sec-four-1{
	display:-webkit-flex;
	-webkit-align-items:center;
}
.dt-sec-four-1 h5{
	font-size: 18px;
	color:#12161a;
}
.dt-sec-four-1 span{
	font-size:12px;
	color:#afb7be;
	margin-left: .07rem;
}
.dt-content{
	border-bottom: 1px solid #f5f7fa;
}
.dt-content_one{
	height:.59rem;
	display: -webkit-flex;
	-webkit-justify-content:space-between;
}
.dt-con_one{
	display: -webkit-flex;
	-webkit-align-items:center;
}
.dt-con_one img{
	width:.36rem;
	height:.36rem;
	margin-left: .22rem;
	margin-right: .07rem;
}
.dt-con_11 span{
	display: block;
	font-size:10px;
	color:#c5a798;
}
.dt-con_two{
	height:1rem;
}
.dt-con_two span{
	display: block;
	margin-left: .63rem;
	margin-right: .24rem;
}
.dt-con_two span:nth-child(1){
	font-size: .14rem;
	color:#494949;
	line-height:.2rem;
	width: 2.94rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dt-con_two span:nth-child(2){
	font-size: 12px;
	color:#7c838b;
	line-height: .2rem;
	margin-top: .08rem;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.dt-con_three{
	display: -webkit-flex;
	margin-left: .63rem;
}
.dt-con_three img{
	width:.92rem;
	height:.92rem;
}
.dt-con_three img:nth-child(1){
	margin-right: .09rem;
}
.dt-con_four {
	height:.42rem;
	display: -webkit-flex;
	-webkit-align-items:center;
	-webkit-justify-content:flex-end;
}
 .dt-con_four span{
	font-size: 10px;
	display: block;
	color:#999999;
}
 .dt-con_four a:nth-child(2){
 	margin-left: .1rem;
	margin-right:.22rem;
}
/*footer*/
.dt-footer{
	width:100%;
	height:.58rem;
	display: -webkit-flex;
	position:fixed;
	background:#fff;
	bottom: 0;
}
.dt-footer a{
	-webkit-flex:1;
	text-align: center;
}
.dt-footer img{
	width:.24rem;
	height:.24rem;
	margin:0 auto;
	margin-top: .08rem;
}
.dt-footer span{
	display: block;
	font-size: 10px;
	color: #369bff;
	margin-top: .08rem;
}
.dt-footer .dt-footer-sk{
	background:url(../imgs/bj-5.png) no-repeat;
	background-size: 100%;
}
.dt-footer .dt-footer-sk span{
	color:#fff;
}
